# Entorns virtuals (molt important no pujar-los)
venv/
env/
.env

# Fitxers de configuració de l'editor
.vscode/
.idea/

# Arxius temporals de Python
__pycache__/
*.pyc

# MODELS ENTRENATS (Fitxers pesants)
*.pth
*.h5
*.onnx

# Logs d'entrenament (si fas servir TensorBoard)
logs/